#quote{
    position: relative;
    top:50%;
}

.qoutes{
    display:block;
    text-align: center;
    font-size:15px;
    color:azure;
    font-weight: 600;
}

.author{
    display:block;
    text-align: center;
    margin-top: 10px;
    font-size:15px;
    color:azure;
    font-weight: 600;
}