.todo-list{
    position: relative;
    margin:0px;
    height: 240px;
    width:360px;
    left:50px;
    top:200px;

}

#todo-form input{
    height: 50px;
    width: 350px;
    background: transparent;
    border: none;
    border-bottom: 2px solid rgb(188, 255, 86, 0.8);
    outline: none;
    font-size: 25px;
    color:whitesmoke;
    font-weight: 500;
}

#todo-form input::placeholder{
    font-size: 25px;
    font-weight: 500;
    color:whitesmoke;
}

#todo-list{
    margin:0px;
    padding:0px;
    list-style: none;
    font-size: 15px;
    color:aliceblue;
}

#todo-list li{
    margin-top: 10px;
    border-bottom: 1px solid rgba(182, 179, 179, 0.445);
}

#todo-list li::before{
    content: "\f0eb  ";
    font-family:'FontAwesome';
}


#todo-list button{
    position: relative;
    bottom:5px;
    float:right;
    background-color: #ccc;
    border-radius: 10px;
    border-color: #ccc;
    box-shadow: 3px 3px 3px black;
    transition-duration: 0.3s;

}

#todo-list button::before{
    content:"\f2ed";
    font-family:'FontAwesome';
    color:rgb(46, 37, 37);
}

#todo-list button:hover{
    background-color: #ffa9a9;
}