/*1rem=10px*/

.todo-list{
    position: relative;
    margin:0px;
    height: 24rem;
    width:36rem;
    right:-15%;
    top:35%;

}

#todo-form input{
    height: 5rem;
    width: 35rem;
    background: transparent;
    border: none;
    border-bottom: 0.2rem solid rgb(188, 255, 86, 0.8);
    outline: none;
    font-size: 2.5rem;
    color:whitesmoke;
    font-weight: 500;
}

#todo-form input::placeholder{
    font-size: 2.5rem;
    font-weight: 500;
    color:whitesmoke;
}

#todo-list{
    margin:0px;
    padding:0px;
    list-style: none;
    font-size: 1.5rem;
    color:aliceblue;
}

#todo-list li{
    margin-top: 1rem;
    border-bottom: 0.1rem solid rgba(182, 179, 179, 0.445);
}

#todo-list li::before{
    content: "\f0eb  ";
    font-family:'FontAwesome';
}


#todo-list button{
    position: relative;
    bottom:0.5rem;
    float:right;
    background-color: #ccc;
    border-radius: 10px;
    border-color: #ccc;
    box-shadow: 0.3rem 0.3rem 0.3rem black;
    transition-duration: 0.3s;

}

#todo-list button::before{
    content:"\f2ed";
    font-family:'FontAwesome';
    color:rgb(46, 37, 37);
}

#todo-list button:hover{
    background-color: #ffa9a9;
}